<div class="navbar">
  <h3 class="heading" style="padding: 12px 3px 12px 12px;float: left"><%=image_tag('YZMlogo.png',size:'165x30')%></h3>
  <f style="padding-top: 23px;float: left;font-size: 16px;color: #333333;font-weight:bold">语 言</f>
</div>

<div class="widget-container fluid-height clearfix" style="margin-top: -40px;" >
      <div class="heading" style="margin-bottom: 30px">
        <f style="font-size: 40px">翻译</f>
      </div>
  <div style="border: solid 1px #dcdcdc"></div>
      <div class="widget-content padded" style="float: left">
          <div class="form-group" style="width:600px">
            <div class="col-md-4">
              <select id="source" class="form-control" type="text">
                <option value="eo">世界语</option>
                <option value="en">英语</option>
                <option value="zh">中文简体</option>
                <option value="cht">中文繁体</option>
                <option value="spa">西班牙语</option>
                <option value="ara">阿拉伯语</option>
                <option value="ru">俄语</option>
                <option value="pt">葡萄牙语</option>
                <option value="it">意大利语</option>
                <option value="de">德语</option>
                <option value="fra">法语</option>
                <option value="jp">日语</option>
                <option value="kor">韩语</option>
                <option value="th">泰语</option>
                <option value="vi">越南语</option>
                <option value="my">缅甸语</option>
                <option value="km">柬埔寨语(高棉语)</option>
                <option value="lo">老挝语</option>
                <option value="pl">波兰语</option>
                <option value="rom">罗马尼亚语</option>
                <option value="nl">荷兰语</option>
                <option value="el">希腊语</option>
                <option value="hu">匈牙利语</option>
                <option value="cs">捷克语</option>
                <option value="swe">瑞典语</option>
                <option value="bul">保加利亚语</option>
                <option value="slo">斯洛文尼亚语</option>
                <option value="dan">丹麦语</option>
                <option value="fan">芬兰语</option>
                <option value="wyw">文言文</option>
                <option value="yue">粤语</option>
                <option value="hsn">湘语</option>
                <option value="nan">闽南语</option>
                <option value="mnp">闽北语</option>
                <option value="wuu">吴语</option>
                <option value="gan">赣语</option>
                <option value="cjy">晋语</option>
                <option value="hak">客家话</option>
                <option value="zh_z">壮语</option>
                <option value="hmn">苗语</option>
                <option value="zh_y">彝语</option>
                <option value="bo">藏语</option>
                <option value="mn">蒙古语</option>
                <option value="kk">哈萨克语</option>
                <option value="uyg">维吾尔语</option>
                <option value="sq">阿尔巴尼亚语</option>
                <option value="az">阿塞拜疆语</option>
                <option value="ga">爱尔兰语</option>
                <option value="et">爱沙尼亚语</option>
                <option value="eu">巴克斯语</option>
                <option value="be">白俄罗斯语</option>
                <option value="is">冰岛语</option>
                <option value="bs">波斯尼亚语</option>
                <option value="fa">波斯语</option>
                <option value="af">南非荷兰语(布尔语)</option>
                <option value="tl">菲律宾语</option>
                <option value="ka">格鲁吉亚语</option>
                <option value="gu">古吉拉特语</option>
                <option value="ht">海地克里奥尔语</option>
                <option value="ha">豪萨语</option>
                <option value="gl">加利西亚语</option>
                <option value="ca">加泰罗尼亚语</option>
                <option value="kan">卡纳达语</option>
                <option value="hr">克罗地亚语</option>
                <option value="la">拉丁语</option>
                <option value="lv">拉脱维亚语</option>
                <option value="lt">立陶宛语</option>
                <option value="mg">马尔加什语</option>
                <option value="mt">马耳他语</option>
                <option value="mr">马拉地语</option>
                <option value="ml">马拉雅拉姆语</option>
                <option value="ms">马来语</option>
                <option value="mk">马其顿语</option>
                <option value="mi">毛利语</option>
                <option value="bn">孟加拉语</option>
                <option value="zu">南非祖鲁语</option>
                <option value="ne">尼泊尔语</option>
                <option value="no">挪威语</option>
                <option value="pa">旁遮普语</option>
                <option value="ny">齐切瓦语</option>
                <option value="sr">塞尔维亚语</option>
                <option value="st">塞索托语</option>
                <option value="si">僧伽罗语</option>
                <option value="sk">斯洛伐克语</option>
                <option value="sw">斯瓦希里语</option>
                <option value="ceb">宿务语(菲律宾)</option>
                <option value="so">索马里语</option>
                <option value="tg">塔吉克语</option>
                <option value="te">泰卢固语</option>
                <option value="ta">泰米尔语</option>
                <option value="tr">土耳其语</option>
                <option value="cy">威尔士语</option>
                <option value="ur">乌尔多都语</option>
                <option value="uk">乌克兰语</option>
                <option value="hi">印地语</option>
                <option value="uz">乌兹别克语</option>
                <option value="iw">希伯来语</option>
                <option value="hy">亚美尼亚语</option>
                <option value="ig">伊博语</option>
                <option value="yi">意第绪语</option>
                <option value="hi">印地语</option>
                <option value="su">印尼巽他语</option>
                <option value="id">印尼语</option>
                <option value="jw">印尼爪哇语</option>
                <option value="yo">约鲁巴语</option>
                <br>
                <option value="bho">博杰普尔语</option>
                <option value="sindhī">信德语</option>
                <option value="mai">迈蒂利语</option>
                <option value="pus">普什图语</option>
                <option value="or">奥利亚语</option>
                <option value="om">奥罗莫语</option>
                <option value="Tagalog">他加禄语</option>
                <option value="awadhi">阿瓦德语</option>
                <option value="Kwa">阿坎语</option>
                <option value="amh">阿姆哈拉语</option>
                <option value="asm">阿萨姆语</option>
                <option value="kin">卢旺达语</option>
                <option value="tar">鞑靼语</option>
                <option value="kir">柯尔克孜语</option>
              </select></td>
            </div>
          </div>
          <div class="form-group" style="width: 600px">
            <div class="col-md-9" style="padding-top: 10px">
              <textarea id="in" class="form-control" rows="5"></textarea>
            </div>
          </div>
</div>
      <div class="widget-content padded" style="float: left">
            <div class="form-group" style="width: 120%">
              <div class="col-md-4">
                <select id="source" class="form-control" type="text">
                  <option value="eo">世界语</option>
                  <option value="en">英语</option>
                  <option value="chs">中文简体</option>
                  <option value="cht">中文繁体</option>
                  <option value="spa">西班牙语</option>
                  <option value="ara">阿拉伯语</option>
                  <option value="ru">俄语</option>
                  <option value="pt">葡萄牙语</option>
                  <option value="it">意大利语</option>
                  <option value="de">德语</option>
                  <option value="fra">法语</option>
                  <option value="jp">日语</option>
                  <option value="kor">韩语</option>
                  <option value="th">泰语</option>
                  <option value="vi">越南语</option>
                  <option value="my">缅甸语</option>
                  <option value="km">柬埔寨语(高棉语)</option>
                  <option value="lo">老挝语</option>
                  <option value="pl">波兰语</option>
                  <option value="rom">罗马尼亚语</option>
                  <option value="nl">荷兰语</option>
                  <option value="el">希腊语</option>
                  <option value="hu">匈牙利语</option>
                  <option value="cs">捷克语</option>
                  <option value="swe">瑞典语</option>
                  <option value="bul">保加利亚语</option>
                  <option value="slo">斯洛文尼亚语</option>
                  <option value="dan">丹麦语</option>
                  <option value="fan">芬兰语</option>
                  <option value="wyw">文言文</option>
                  <option value="yue">粤语</option>
                  <option value="hsn">湘语</option>
                  <option value="nan">闽南语</option>
                  <option value="mnp">闽北语</option>
                  <option value="wuu">吴语</option>
                  <option value="gan">赣语</option>
                  <option value="cjy">晋语</option>
                  <option value="hak">客家话</option>
                  <option value="zh_z">壮语</option>
                  <option value="hmn">苗语</option>
                  <option value="zh_y">彝语</option>
                  <option value="bo">藏语</option>
                  <option value="mn">蒙古语</option>
                  <option value="kk">哈萨克语</option>
                  <option value="uyg">维吾尔语</option>
                  <option value="sq">阿尔巴尼亚语</option>
                  <option value="az">阿塞拜疆语</option>
                  <option value="ga">爱尔兰语</option>
                  <option value="et">爱沙尼亚语</option>
                  <option value="eu">巴克斯语</option>
                  <option value="be">白俄罗斯语</option>
                  <option value="is">冰岛语</option>
                  <option value="bs">波斯尼亚语</option>
                  <option value="fa">波斯语</option>
                  <option value="af">南非荷兰语(布尔语)</option>
                  <option value="tl">菲律宾语</option>
                  <option value="ka">格鲁吉亚语</option>
                  <option value="gu">古吉拉特语</option>
                  <option value="ht">海地克里奥尔语</option>
                  <option value="ha">豪萨语</option>
                  <option value="gl">加利西亚语</option>
                  <option value="ca">加泰罗尼亚语</option>
                  <option value="kan">卡纳达语</option>
                  <option value="hr">克罗地亚语</option>
                  <option value="la">拉丁语</option>
                  <option value="lv">拉脱维亚语</option>
                  <option value="lt">立陶宛语</option>
                  <option value="mg">马尔加什语</option>
                  <option value="mt">马耳他语</option>
                  <option value="mr">马拉地语</option>
                  <option value="ml">马拉雅拉姆语</option>
                  <option value="ms">马来语</option>
                  <option value="mk">马其顿语</option>
                  <option value="mi">毛利语</option>
                  <option value="bn">孟加拉语</option>
                  <option value="zu">南非祖鲁语</option>
                  <option value="ne">尼泊尔语</option>
                  <option value="no">挪威语</option>
                  <option value="pa">旁遮普语</option>
                  <option value="ny">齐切瓦语</option>
                  <option value="sr">塞尔维亚语</option>
                  <option value="st">塞索托语</option>
                  <option value="si">僧伽罗语</option>
                  <option value="sk">斯洛伐克语</option>
                  <option value="sw">斯瓦希里语</option>
                  <option value="ceb">宿务语(菲律宾)</option>
                  <option value="so">索马里语</option>
                  <option value="tg">塔吉克语</option>
                  <option value="te">泰卢固语</option>
                  <option value="ta">泰米尔语</option>
                  <option value="tr">土耳其语</option>
                  <option value="cy">威尔士语</option>
                  <option value="ur">乌尔多都语</option>
                  <option value="uk">乌克兰语</option>
                  <option value="hi">印地语</option>
                  <option value="uz">乌兹别克语</option>
                  <option value="iw">希伯来语</option>
                  <option value="hy">亚美尼亚语</option>
                  <option value="ig">伊博语</option>
                  <option value="yi">意第绪语</option>
                  <option value="hi">印地语</option>
                  <option value="su">印尼巽他语</option>
                  <option value="id">印尼语</option>
                  <option value="jw">印尼爪哇语</option>
                  <option value="yo">约鲁巴语</option>
                  <br>
                  <option value="bho">博杰普尔语</option>
                  <option value="sindhī">信德语</option>
                  <option value="mai">迈蒂利语</option>
                  <option value="pus">普什图语</option>
                  <option value="or">奥利亚语</option>
                  <option value="om">奥罗莫语</option>
                  <option value="Tagalog">他加禄语</option>
                  <option value="awadhi">阿瓦德语</option>
                  <option value="Kwa">阿坎语</option>
                  <option value="amh">阿姆哈拉语</option>
                  <option value="asm">阿萨姆语</option>
                  <option value="kin">卢旺达语</option>
                  <option value="tar">鞑靼语</option>
                  <option value="kir">柯尔克孜语</option>
                </select></td>
              </div>
              <div class="col-md-4" style="padding-left: 10px">
              <button class="btn btn-primary" type="submit" onclick="fn()">翻译</button>
              </div>
            </div>
            <div class="form-group" style="width: 120%"%>
              <div class="col-md-9">
                <textarea id="out" class="form-control" rows="5" readonly="readonly"></textarea>
              </div>
            </div >
           </div>

</div>





