<!DOCTYPE html>
<html>
<head>
  <title>Translate</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type=”text/javascript“>

 $(function(){

$(‘#mybutton’).click(function(){
alert("asd");

$.getJSON(“http://openapi.baidu.com/public/2.0/bmt/translate?client_id=iEPUSFHqPtNGET1IbwrdM6cF&q=today%0Atomorrow&from=auto&to=auto”, function(json){

alert(“JSON Data: ”);

var s = “1”

 $(json).each(function(i){

s += json[i].trans_result.dst;

});

$(“#outputvalue”).val(s);

 //对json对象数组的处理方式

});

$.post(“http://openapi.baidu.com/public/2.0/bmt/translate?client_id=iEPUSFHqPtNGET1IbwrdM6cF&q=today%0Atomorrow&from=auto&to=auto”, {}, function(json){

var s = “1”

$(json).each(function(i){

s += json[i].json[i].trans_result.dst;

});

$(“#outputvalue”).val(s);

 //对带有中文的需用post方式提交返回数据，避免url编码

}, “json”)

});

});

</script>

<script>
$("#mybutton").click(function(){
alert("ok");
}); );
</script>


</head>
<body>

<%= yield %>

</body>
</html>
