<!DOCTYPE html>
<html>
<head>
  <title>Translate</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<script>
jQuery(document).ready(function($) {





$('#mybutton').click(function() { 

$.getJSON('//www.googleapis.com/language/translate/v2?key=AIzaSyBaVBlR7AgwQGRCs0r0Ec_2MVoXKbmvjj4&source=en&target=sq&q=Hello world&jsoncallback=?', function(json){



var s = ''

 $(json).each(function(i){

s += json[i].translatedText ;


});

$('#outputvalue').html(s);

 //对json对象数组的处理方式

});

$.post('//www.googleapis.com/language/translate/v2?key=AIzaSyBaVBlR7AgwQGRCs0r0Ec_2MVoXKbmvjj4&source=en&target=sq&q=Hello world&jsoncallback=?', {}, function(json){


var s = ''

$(json).each(function(i){

s += json[i].translatedText ;

});

$('#outputvalue').html(s);

 //对带有中文的需用post方式提交返回数据，避免url编码

}, 'json')

});











});
</script>


</head>
<body>

<%= yield %>

</body>
</html>
