<!DOCTYPE html>
<html>
<head>
  <title>Translate</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<script language="javascript" type="text/javascript">
jQuery(document).ready(function($) {





$('#mybutton').click(function() { 

$.getJSON('http://openapi.baidu.com/public/2.0/bmt/translate?client_id=iEPUSFHqPtNGET1IbwrdM6cF&q=today&from=auto&to=auto&jsoncallback=?', function("("+json+")"){



var s = ''

 $(json).each(function(i){

s += json[i].data ;


});

$('#outputvalue').val(s);

 //对json对象数组的处理方式

});

$.post('//www.googleapis.com/language/translate/v2?key=AIzaSyBaVBlR7AgwQGRCs0r0Ec_2MVoXKbmvjj4&source=en&target=sq&q=Hello world&jsoncallback=?', {}, function(json){


var s = ''

$(json).each(function(i){

s += json[i].translatedText ;

});

$('#outputvalue').html(s);

 //对带有中文的需用post方式提交返回数据，避免url编码

}, 'json')

});











});





function fn(){
				var input = $("#in").val();
				var source= $("#source").val();
				var target= $("#target").val();
				$.ajax({
					url : "http://openapi.baidu.com/public/2.0/bmt/translate?client_id=iEPUSFHqPtNGET1IbwrdM6cF&q="+ input +"&from="+source+"&to="+target,
					async : false,
					type : "get",
					dataType : "jsonp",
					success : function(data){
						//$("#img").attr("style","display:none");
						if(data.trans_result != undefined){
							//$("#msg").html("<b>返回的JSON字符串 =</b> "+JSON.stringify(data));
							$("#out").val(data.trans_result[0].dst);
							//$("body").attr("style","color:");
						}else{
							//$("#msg").html("<b>返回的JSON字符串 =</b> "+JSON.stringify(data));
							$("#out").val("");
							//$("body").attr("style","color:");
						}
					}
				});
			}




</script>


</head>
<body>

<%= yield %>

</body>
</html>
